*{
  all:unset;
  font-family: Ubuntu Mono Nerd Font;
  color: #161616;
  font-size:16px;
  margin-left: 0px; 
  letter-spacing: -3px;
}

.bar {
	background-color: transparent;
}

.main-container {

  background-color: #FE7EB5;
  border-radius: 2px;

}

.workspaces {
  margin-left:   0;
  padding-left:  7px;
  padding-right: 7px;
  padding-top:   2px;
}

