/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #111111;
    background-alt: #111111;
    foreground:     #FFFFFFFF;
    selected:       #33b1ff;
    active:         #33b1ff;
    urgent:         #111111;
}
