*{
  all: unset;
  font-family: Ubuntu Mono Nerd Font;
}

.cal {
  background-color: #161616;
  font-size: 22px;
  font-weight: normal;
  border-radius: 5px;
  border: 0px solid #EBDBB2;
  padding: 2px;
  margin-left: 10px;
}

.cal-in {
  padding: 10px 10px 0px 10px;
  border: transparent;
}

calendar {
  color: #a8a8a8;
}

calendar:selected {
  color: #DC1DC5;
}

calendar.header {
  color: #2C7FE5;
  font-weight: bold;
}

calendar.button {
  color: #b8b8b8;
}

calendar.highlight {
  color: #dadada;
  font-weight: bold;
}

calendar:indeterminate {
  color: #474747;
}
